
<section id="about">
  <h1>About</h1>
  <p><strong>America has a reading problem.</strong> More than 25% of American public school children in grades 2-9 are completely illiterate despite the fact that many school districts spend over $15,000 per year on each student's education. This literacy crisis has deep roots but is primarily caused by the difficulty of the English written code.  The volunteers of Youth Lit are<strong> REVERSING</strong> the Literacy Crisis in America using an advanced technology for teaching reading, and as we reverse the literacy crisis we are also reversing the Education Crisis in America that is causing 1.2 million students to drop out of high school each year.</p>
</section>
<hr/>