footer
  .lockup
    .logo
    content-pane
      nav
        a(href="#about") About
        a(href="#phonibet") Phonibet
        a(href="#tutorship") Tutorship
        a(href="#board") Board
        a(href="#contact") Contact
      p.copyright All Content Copyright 2015
