header
  .logo
  nav
    a(href="#about") About
    a(href="#phonibet") Phonibet
    a(href="#tutorship") Tutorship
    a(href="#board") Board
    a(href="#contact") Contact
  h1
    span {{site.title}}
  p.kicker {{site.description}}
