header
  .logo
  nav
    a(href="") About
    a(href="") Phonibet
    a(href="") Tutorship
    a(href="") Board
    a(href="") Contact
  h1
    span YouthLit
  p.kicker Building Youth Literacy One Child At A Time
