section#tutorship
  h1 Tutorship
  p In 2012 we opened our doors to tutors nationwide to sign up and begin our training.  This was made possible by our new, online training course which is a series of tutorials that you do at your own pace.  Pass the quizzes and then take the certification tests and you will be on your way to teaching reading to kids in your community.
  p If you are in grades 10-12 or a college undergrad and want to get involved in our student volunteer program you can fill out the information form and you will be redirected to a program description. Adults can also complete our online course and become tutors.  Just fill out the form to get started.
hr
